<ion-header>
  <ion-navbar>
    <ion-title>Itenss</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearchInputChanged($event)"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let movie of this.movies">
      <ion-item detail-push (click)="openMovieDetail(movie)">
        <ion-thumbnail item-start class="movie-cover">
          <img src="{{ movie.thumb }}">
        </ion-thumbnail>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.genre }}</p>
        <p>{{ movie.director }}</p>
        <p>{{ movie.price }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="addWish(movie)">
          <ion-icon name="cart"></ion-icon>
          Add Wish
        </button>
        <button ion-button color="secondary" (click)="addWatched(movie)">
          <ion-icon name="flag"></ion-icon>
          Watched
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
