<ion-header>
  <ion-navbar>
    <ion-title>
        Informação sobre o Produto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <h1>{{produto.title}}</h1>
    <p> {{produto.sinopse}} </p>
  </div>title

  <ion-list>
    <ion-item>
      <ion-icon name="shirt" item-start> </ion-icon>
      <h2>Marca</h2>
      <p item-right> {{produto.director}} </p>
    </ion-item>


    <ion-item>
      <ion-icon name="pricetags" item-start> </ion-icon>
      <h2>Preço</h2>
      <p item-right> {{produto.price}} </p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="cart" item-start> </ion-icon>
      <ion-label>Adicionar no Carrinho</ion-label>
      <ion-toggle [(ngModel)]="produto.wishlist" (ionChange)="toggleChanged()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
